#float{
 font-size: 25px;
}
select{
    width: 130px;
    height: 35px;
    margin: 10px;
}

h1{
    color: chocolate;
}
h2{
    color: darkorchid;
}
.container-fluid{
    background:linear-gradient(to right ,rgb(144, 238, 238) ,rgb(245, 127, 209));
}

.card-body{
    background-color:rgb(28, 172, 148);
}
